# Am besten als $HOME/.dnsjinja/dnsjinja.env abspeichern
# API-Token aus KeePass einfügen
# DATADIR und CONFIG auf die Verzeichnisse zeigen lassen, in denen die Daten ausgecheckt wurden

DNSJINJA_AUTH_API_TOKEN=<Aus KeePass einfügen>
DNSJINJA_DATADIR=d:/gitlab.secorvo.de/DNSJinja-Templates-Secorvo
DNSJINJA_CONFIG=${DNSJINJA_DATADIR}/config/config.json
